{% extends 'layout.twig' %}

{% block body %}

  <h1>CONNEXION</h1>
  
  <form action="" method="POST" >
  {# par défaut il conservera la même url pour l'action, cf ma route #}
    <label>Email</label>
    <br>
    <input name="email" type="email">
    <br><br>
    <label>Mot de Passe</label>
    <br>
    <input name="password" type="password">
    <br><br>
    <button type='submit' id='userForm'>Se Connecter</button>
  </form>

{% endblock %}